body
{
    background:linear-gradient(#0088ff, #ff0000)
}
h1
{
    color:#ffffff;
    font-family: 'Oswald', sans-serif;
}
h3
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(255, 255, 255);
}
#cool
{
    padding:5px;
    border-radius:5px;
    background-color:#C5E1A5;
    font-family:'Oswald', sans-serif;
    font-size:15px;
    float:left;
}
